<h2>Illustrations</h2>
<%= f.fields_for :illustrations do |illustration_form| %>
  <div class="illustration">
    <div class="form_group">
      <% if illustration_form.object.illustration_file_name.present? %>
        <%= image_tag illustration_form.object.illustration.url(:thumbnail) %>
        <dl>
          <dt>Filename</dt>
          <dd><%= illustration_form.object.illustration_file_name %></dd>
          <dt>Markdown tag<dt>
          <dd><code>![](<%= illustration_form.object.illustration_file_name %>)</code></dd>
        </dl>  
      <% end %>
      <%= illustration_form.file_field :illustration, class: "form-control" %>
      <%= illustration_form.link_to_remove "Remove Illustration" %>
    </div>
  </div>
<% end %>
<p><%= f.link_to_add "Add Illustration", :illustrations %></p>
