<% title @vehicle_category.name %>
<% description @vehicle_category.description %>

<% unless @vehicle_category.published %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if policy(@vehicle_category).edit? && policy(@vehicle_category).destroy? %>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <%= link_to 'Edit Vehicle Category', edit_vehicle_category_path(@vehicle_category),
        class: "btn btn-default",
        role: "button"
      %>
    </div>
    <div class="btn-group">
      <%= link_to 'Delete Vehicle Category', @vehicle_category,
        data: { confirm: 'Are you sure you want to delete this vehicle category?' },
        method: :delete,
        class: "btn btn-danger",
        role: "button"
      %>
    </div>
  </div>
<% end %>

<div class="row vehicle_category">
  <div class="col-sm-7">
    <%= image_tag @vehicle_category.photo_url(:regular) %>
  </div>
  <div class="col-sm-5">
    <p><%= @vehicle_category.description %></p>
    <div class="row">
      <div class="col-sm-3">
        <dl>
          <dt>Economy Rating</dt>
          <dd><%= @vehicle_category.economy_rating %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<% if @vehicle_category.body? %>
  <%= raw illustrated_markdown_to_html("Vehicle Category", @vehicle_category, @vehicle_category.body) %>
<% end %>
