<% title "Vehicle Types" %>

<% if policy(VehicleType).new? %>
  <div>
    <%= link_to 'New Vehicle Type', new_vehicle_type_path,
      class: "btn btn-default",
      role: "button"
    %>
  </div>
<% end %>

<% if @vehicle_types.present? && administrator? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Published?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @vehicle_types.each do |vehicle_type| %>
        <tr>
          <td><%= vehicle_type.name %></td>
          <td><%= vehicle_type.published? ? "Yes" : "No" %></td>
          <td>
            <%= link_to 'Edit Vehicle Type', edit_vehicle_type_path(vehicle_type),
              class: "btn btn-default",
              role: "button"
            %>
          </td>
          <td>
            <%= link_to 'Delete Vehicle Type', vehicle_type, data:
              { confirm: 'Are you sure you want to delete this vehicle type? ALL VEHICLES BELONGING TO THIS TYPE WILL ALSO BE DELETED.' },
              method: :delete,
              class: "btn btn-danger",
              role: "button"
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
