<% if user_signed_in? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">Logged in as <%= link_to_twitter current_user.name %>.
          You <%= current_user.administrator? ? "are" : "are not" %> an admin.</span>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Log Out", destroy_user_session_path %></li>
        <% if current_user.administrator? %>
          <li><%= link_to "Pages", pages_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Vehicle Categories", vehicle_categories_path %></li>
          <li><%= link_to "Price Categories", price_categories_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>

<div class="row header">
  <div class="col-xs-4">
    <%= link_to((image_tag "buzzy-rental-cars-logo.png", alt: "Buzzy Rental Cars Logo", width: 300, height: 130), root_url) %>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-1 logo">
    <%= image_tag "100-percent-new-zealand-owned-and-operated.png", alt: "100% New Zealand Owned & Operated", width: 75, height: 75 %>
  </div>
  <div class="col-xs-2 logo">
    <%= image_tag "rental-vehicle-association.png", alt: "Rental Vehicle Association", width: 112, height: 75 %>
  </div>
  <div class="col-xs-1 logo">
    <%= link_to((image_tag "facebook-logo.png", alt: "Facebook", width: 75, height: 75), "http://www.facebook.com/buzzyrentalcars") %>
  </div>
  <div class="col-xs-1 logo">
    <%= link_to((image_tag "twitter-logo.png", alt: "Twitter", width: 75, height: 75), "http://www.twitter.com/buzzyrentalcars") %>
  </div>
  <div class="col-xs-1"></div>
</div>
