<!DOCTYPE html>
<html>
  <head>
    <% if params[:controller] == 'home_page' && params[:action] == 'show' %>
      <title>Buzzy Rental Cars</title>
    <% else %>
      <title>Buzzy Rental Cars | <%= yield(:title) %></title>
    <% end %>
    <%= favicon_link_tag asset_path('favicons/16x16.png') %>
    <%= favicon_link_tag asset_path('favicons/32x32.png') %>
    <%= favicon_link_tag asset_path('favicons/64x64.png') %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= yield(:description) %>" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'layouts/header' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <% if nav_pages %>
            <ul class="nav nav-pills">
              <li class="<%= 'active' if (params[:controller] == 'home_page' &&
                params[:action] == 'show') %>">
                <%= link_to "Home", root_url %>
              </li>
              <li class="<%= 'active' if (params[:controller] == 'vehicle_page' &&
                params[:action] == 'show') %>">
                <%= link_to "Our Vehicles", "/our-vehicles" %>
              </li>
              <% nav_pages.each do |page| %>
                <li class="<%= 'active' if params[:id] == page.slug %>">
                  <%= link_to page.name, root_url + page.slug %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% unless params[:controller] == 'home_page' && params[:action] == 'show' %>
            <h1><%= yield(:title) %></h1>
          <% end %>
          <%= render partial: 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
